.WallPaper {
  width: 100%;
  position: relative;
  background-size: cover;
  min-height: 600px;
  margin-bottom: -15vw;
  z-index: -1;
}
.WallPaper .header {
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: black;
    z-index: 1000;
    opacity: 0.7;

}
.WallPaper .content {
  position: relative;
  z-index: 4;
  width: 500px;
  left: 3vw;
  top: 10vw;
}
.WallPaper .content .logo {
  max-width: 400px;
  display: block;
  position: relative;
  left: -5px;
}
.WallPaper .content p {
  width: 100%;
}
.WallPaper .content .bold{
  font-weight:600;
}
.WallPaper .content .button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  margin-top: 30px;
}
.WallPaper .content .button-wrapper .Button:first-child {
  margin-right: 10px;
  cursor: pointer;
}
.WallPaper .overlay {
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.Button {
  background: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid rgba(245, 245, 241, 0.2);
  border-radius: 44px;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: border .125s ease, background .125s ease;
  transition: border .125s ease, background .125s ease;
}
.Button:hover {
  border: 2px solid #f5f5f1;
}
.Button[data-primary='true'] {
  border: 2px solid #e50914;
}
.Button[data-primary='true']:hover {
  background: #e50914;
}
